.keen-slider {
  width: 100vw !important;
  left: 0 !important;
}

.keen-slider__slide {
  min-width: 100vw !important;
  max-width: 100vw !important;
  width: 100vw !important;
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
}